# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*/.ipynb_checkpoints
tests/test_results/*
tutorials/*.png
examples/*.png
tutorials/out*
UWGeodynamics/version.py

# due to using tox and pytest
.tox
.cache

*.h5
*.xmf
*.xdmf
*.hdf5
