
version: '3.7' 
services:     
    underworld:
        container_name: UWGeodynamics-dev
        image: underworldcode/uwgeodynamics:dev
        build:
          context: $PWD
          dockerfile: Dockerfile
        hostname: "uw-container"
        command: "jupyter notebook --ip=0.0.0.0 --no-browser"
        ports:
          - "8888:8888"
          - "9999:9999"       
        volumes:
          - "$PWD:/workspace"


