# Include the license file
include LICENSE.txt
include uwgeodynamicsrc.template  
recursive-include utils *.sh
recursive-include UWGeodynamics/ressources *.json
recursive-include UWGeodynamics/uwgeo-data *

prune docs
prune manual
prune examples
prune tutorials
prune docker
prune docker-dev
