# Include the license file
include LICENSE.txt
include uwgeodynamicsrc.template  

# Include the data files
recursive-include data *
recursive-include docs *
recursive-include manual *
recursive-include examples *
recursive-include tutorials *
recursive-include ressources *
